\pse\Pflichtenheft\Pflichtenheft.aux
\pse\Pflichtenheft\Pflichtenheft.dvi
\pse\Pflichtenheft\Pflichtenheft.log
\pse\Pflichtenheft\Pflichtenheft.out
\pse\Pflichtenheft\Pflichtenheft.pdf
\pse\Pflichtenheft\Pflichtenheft.synctex.gz
\pse\Pflichtenheft\Pflichtenheft.toc
\pse\.gitignore
\pse\README.md
